microphoneGain  20
recordDuration  5
sleepDuration   5
recordingHours  4,5,6,7,8,17,18,19,20.
firstRecordingDate  2024-03-10
lastRecordingDate   2024-07-10
sampleRate  48000
enableHighpassFilter    1
highpassFilterCutoff    250
enableLowpasssFilter    0
lowpassFilterCutoff    20000
enableThresholdRecording    0
recordingThresholddBFS -40
recordedTimeBeforeThreshold 1