microphoneGain  0
recordDuration  1
sleepDuration   0
recordingHours  -
firstRecordingDate  2024-03-10
lastRecordingDate   2024-03-10
sampleRate  48000
enableHighpassFilter    1
highpassFilterCutoff    250
enableLowpasssFilter    0
lowpassFilterCutoff    20000
enableThresholdRecording    0
recordingThresholddBFS -40
recordedTimeBeforeThreshold 1